<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body bgcolor="#F6CECE">
        <div></div>
        <img src="imagenes/portada2.png" WIDTH=1350 HEIGHT=150 VSPACE=0 HSPACE="0" ALT="rosar">
        <table border="3" >
        <tr>
        <td align="center" style="background:url(imagenes/fondo.png);"  WIDTH=1500 HEIGHT=20 ><font face="Gabriola" size="5"><i>Tu Tienda de Ropa en Linea, Mas Facil, Mas Barato</i></font></td>
        </tr>
        </table>
        <br> 
        <table border="1" >
        <tr>
            <td bgcolor="#F6CEF5" align="center" valign="top" WIDTH=300 HEIGHT=20 ><font face="Lucida Calligraphy" size="2">
                Te damos la bienvenida a este proyecto, en esta pagina 
                encontrarás todo tipo de articulos de vestir, ya sea zapatos, camisas, pantalines, vestidos, etc.
            el proposito de esta pagina es probar el protocolo de compra en linea, con el fin de generar una factura
            electronica.
            --------------------------------------------------------------------<br>
            --------------------------------------------------------------------<br>
            </font>
            <table border="0">
                <tr>
                     <td align="left" valign="top" WIDTH=750 HEIGHT=20><font face="Arial" size="2">
                         Información General<br><br><br>
                         Empresa:  Los 3 Patitos <br>
                         Telefono: 000-000-00-00<br>
                         E-Mail: asd@laweafome.chorizo<br>
                         Oficinas: direccion pendeja de relleno
                         </font></td>
                </tr>
            </table>
            <table border="1">
                <tr>
                     <td align="left" valign="top" WIDTH=750 HEIGHT=380><font face="Arial" size="2">

                         </font></td>
                </tr>
            </table></td>
            <td align="left" valign="top" WIDTH=750 HEIGHT=20><font face="Arial" size="2">A continuacion te presentamos algunos catalogos donde podrás verificar
                las prendas disponibles...</font><br><br>
                <table border="1" align="center">
                    <tr>
                        <td align="center" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Camisas<br></font>
        <select name="camisas">    
            <option value="c0" selected="selected" style="width: 100px;"></option>
        <option value="c1">Esteban z</option>
        <option value="c2">Alexander</option>
        <option value="c3">Crossfit 506</option>
        <option value="c4">Chaverri</option>
        <option value="c4">Mikol</option>
        </select><br><br>
        <input type="submit" value="Agregar a la Lista">
        </td>
        <td align="center" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Playeras<br></font>
        <select name="camisas">    
            <option value="p0" selected="selected" style="width: 100px;"></option>
        <option value="p1">Escolares</option>
        <option value="p2">Deporitvas</option>
        <option value="p3">Cuello</option>
        <option value="p4">Tirantes</option>
        <option value="p5">Manga Larga</option>
        </select><br><br>
        <input type="submit" value="Agregar a la Lista">
        <td align="center" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Blusas<br></font>
        <select name="camisas">    
            <option value="b0" selected="selected" style="width: 100px;"></option>
        <option value="b1">Abalorios</option>
        <option value="b2">sabra la verga 1</option>
        <option value="b3">sabra la verga 2</option>
        <option value="b4">asd23</option>
        <option value="b5">asd</option>
        </select><br><br>
        <input type="submit" value="Agregar a la Lista">
        </td>
                </tr>
                <tr>
                    <td align="center" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Zapatos<br></font>
        <select name="camisas">    
            <option value="z0" selected="selected" style="width: 100px;"></option>
        <option value="z1">Airness</option>
        <option value="z2">Ash</option>
        <option value="z3">Castañer</option>
        <option value="z4">Cool Shoe</option>
        <option value="z5">DKNY</option>
        </select><br><br>
        <input type="submit" value="Agregar a la Lista">
        </td>
        <td align="center" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Tennis<br></font>
        <select name="camisas">
        <option value="t0" selected="selected" style="width: 100px;"></option>
        <option value="t1">Adiddas</option>
        <option value="t2">Air</option>
        <option value="t3">Nike</option>
        <option value="t4">Converse</option>
        <option value="t5">otro</option>
        </select><br><br>
        <input type="submit" value="Agregar a la Lista">
        </td>
        <td align="center" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Sandalias<br></font>
        <select name="camisas">    
            <option value="s0" selected="selected" style="width: 100px;"></option>
        <option value="s1">LIE</option>
        <option value="s2">2</option>
        <option value="s3">3</option>
        <option value="s4">4</option>
        <option value="s5">5</option>
        </select><br><br>
        <input type="submit" value="Agregar a la Lista">
        </td>
                </tr>
                <tr>
        <td align="center" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Pantalones<br></font>
        <select name="camisas">   
            <option value="b0" selected="selected" style="width: 100px;"></option>
        <option value="pa1">Airness</option>
        <option value="pa2">Ash</option>
        <option value="pa3">Castañer</option>
        <option value="pa4">Cool Shoe</option>
        <option value="pa5">DKNY</option>
        </select><br><br>
        <input type="submit" value="Agregar a la Lista">
        </td>
        <td align="center" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Vestidos<br></font>
        <select name="camisas">    
        <option value="v0" selected="selected" style="width: 100px;"></option>
        <option value="v1">Adiddas</option>
        <option value="v2">Air</option>
        <option value="v3">Nike</option>
        <option value="v4">Converse</option>
        <option value="v5">otro</option>
        </select><br><br>
        <input type="submit" value="Agregar a la Lista">
        </td>
        <td align="center" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Faldas<br></font>
        <select name="camisas"> 
            <option value="s0" selected="selected" style="width: 100px;"></option>
        <option value="s1" style="width: 100px;">LIE</option>
        <option value="s2" style="width: 100px;">2</option>
        <option value="s3" style="width: 100px;">3</option>
        <option value="s4" style="width: 100px;">4</option>
        <option value="s5" style="width: 100px;">5</option>
        </select><br><br>
        <input type="submit" value="Agregar a la Lista">
        </td>
                </tr>
                </table>
                <table border="0">
                    <tr>
                        <td align="left" WIDTH=300 HEIGHT=20><font face="Arial" size="2">
                            <B><br>Introduce tus datos de cliente:</B><br></font>
                        </td>
                        <td align="left" WIDTH=200 HEIGHT=20><font face="Arial" size="2"></font></td>
                    </tr><tr><td align="left" WIDTH=200 HEIGHT=20><font face="Arial" size="2"></font></td>
                    </tr>
                    <tr><td align="Right" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Nombre:</font></td>
                        <td><input type="text" name="rfc" size=35></td>
                    </tr>
                    <tr><td align="Right" WIDTH=200 HEIGHT=20><font face="Arial" size="2">RFC</font></td>
                        <td><input type="text" name="rfc" size=35></td>
                    </tr>
                    <tr><td align="Right" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Codigo Postal</font></td>
                        <td><input type="text" name="rfc" size=35></td>
                    </tr>
                    <tr>
                        <td align="left" WIDTH=300 HEIGHT=20><font face="Arial" size="2">
                            <B><br>Introduce los datos de tu domicilio</B><br></font>
                        </td>
                        <td align="left" WIDTH=200 HEIGHT=20><font face="Arial" size="2"></font></td>
                    </tr><tr><td align="left" WIDTH=200 HEIGHT=20><font face="Arial" size="2"></font></td>
                    </tr>
                    <tr><td align="Right" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Calle</font></td>
                        <td><input type="text" name="rfc" size=35></td>
                    </tr>
                    <tr><td align="Right" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Numero Interno</font></td>
                        <td><input type="text" name="rfc" size=35></td>
                    </tr>
                    <tr><td align="Right" WIDTH=200 HEIGHT=20><font face="Arial" size="2">Numero Externo</font></td>
                        <td><input type="text" name="rfc" size=35></td>
                    </tr>
                </table><br> <br>
                
                <p align="center"><input type="submit" value="Generar Factura"></p><br>
                
            </td>
            <td bgcolor="#F6CEF5" align="left" valign="top" WIDTH=250 HEIGHT=20><img src="imagenes/change.gif" 
WIDTH=250 HEIGHT=250 VSPACE=0 HSPACE="0" ALT="change"><br>
            <img src="imagenes/change2.gif" WIDTH=250 HEIGHT=200 VSPACE=0 HSPACE="0" ALT="change2">
            <br>
            <img src="imagenes/change3.gif" WIDTH=250 HEIGHT=270 VSPACE=0 HSPACE="0" ALT="change2">
            </td>
        </table>
    </body>
</html>
